@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our website!</h1>
    <p>To enjoy our services and products please register yourself</p>
    <a asp-action="RegistrationForm">Register now</a>
  
</div>